[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "==3.0.8"
djangorestframework = "==3.11.0"
pillow = "==7.2.0"
django-softdelete = "==0.9.1"
django-rest-passwordreset = "==1.1.0"
gunicorn = "==20.0.4"
psycopg2 = "==2.8.5"
drf-yasg = "==1.17.1"
django-heroku = "==0.3.1"
django-cors-headers = "==3.4.0"
factory-boy = "==2.12.0"
whitenoise = "*"
boto3 = "==1.14.61"
django-storages = "==1.10.1"
django-rq = "==2.3.2"
django-dbbackup = "*"
django-cron = "*"

[requires]
python_version = "==3.7"
